@charset "utf-8";

/* ----------ベース----------- */

body {
    color: #6C6C6F;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.75;
    letter-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    list-style-type: none;
}


/* ----------レイアウトルール----------- */
/* 繰り返し使用されるレイアウトルールについては、クラスセレクタを使用し、接頭辞として「layout-」もしくは「l-」を付ける */

.l-inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}